parameters:
	featureToggles:
		deadCatchesRule: true
		missingReturnRule: true
		noopRule: true
		subtractableTypes: true
		unreachableStatement: true
		yieldRules: true
		validateParameters: true
	ignoreErrors:
		-
			message: '#Yield can be used only with these return types: Generator, Iterator, Traversable, iterable.#'
			path: %currentWorkingDirectory%/src/Kernel.php

	symfony:
		container_xml_path: var/cache/test/srcTestDebugProjectContainer.xml

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-doctrine/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon